@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./togglebutton.css");
@import url("./mobilenavbar.css");

body {
  font-family: "DM Sans";
}

.custom-border-top {
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
}

.custom-border-left {
  border-style: solid;
  border-image: linear-gradient(to top, darkblue, darkorchid) 1;
}

@layer components {
  .pro-price-container {
    @apply bg-black text-darkGray lg:h-116 border-t-8;
  }

  .general-price-container {
    @apply bg-gray-500 text-darkGray lg:top-11 relative lg:h-96;
  }

  .general-price-button {
    @apply bg-black text-white;
  }

  .pro-price-button {
    @apply bg-white text-black;
  }
}
